#macro(component $name $params)
	<div id="${name}component">
		$_componentDispatcher.dispatch($name,$params,$_request,$_response)	
  	</div>
#end

#macro(waitForFinish)
	$_componentDispatcher.waitForLastComponentToFinish()
#end